.users-table tr td{
	width: 100px;
	font-size:20px;
}
.users-table tr td a.table-link{
	text-decoration: none;
	font-size:18px;
}
.users-table tr td a.table-link:hover{
	color:skyblue;
}
.users-table tr.header{
	border-bottom: 3px solid #f2f2f2;
}
.users-table tr th h3{
	font-weight: 900;
}
